<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Index", "Home")">
                <i class="mdi mdi-home menu-icon"></i>
                <span class="menu-title">Home</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" id="nav-list-oder-partner" href="@Url.Action("Index","Oder")?page=1">
                <i class="mdi mdi-content-copy menu-icon"></i>
                <span class="menu-title">Danh sách đơn hàng</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="nav-product-partner" href="@Url.Action("ProductSell","Product")">
                <i class="mdi mdi-package menu-icon"></i>
                <span class="menu-title">Danh sách lô hàng</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="nav-chart-partner">
                <i class="mdi mdi-chart-pie menu-icon"></i>
                <span class="menu-title">Thống kê</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                <i class="mdi mdi mdi-library-plus menu-icon"></i>
                <span class="menu-title">Thêm mới</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-basic">
                <ul style="list-style-type: none;" class="nav flex-column sub-menu">
                    <li class="nav-item">
                        <a class="nav-link" id="nav-add-product-partner">
                            <span class="menu-title">Thêm voucher mới</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="nav-add-shipment-partner">
                            <span class="menu-title">Thêm lô hàng mới</span>
                        </a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Index","Product")">
                <i class="mdi mdi mdi-database menu-icon"></i>
                <span class="menu-title">Danh sách sản phẩm</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Reward", "Home")">
                <i class="mdi mdi-account-card-details menu-icon"></i>
                <span class="menu-title">Quản lý Coin & giao dịch</span>
            </a>
        </li>
    </ul>
</nav>
