@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}
<title>@ViewBag.Title</title>
@section Scripts{
    
}
@model Maladin.Models.ItemProductModels
<div class="row">
    <div class="header-home col-12" style="margin-top:15px;margin-bottom:15px;display:flex">
        <ul class="Navigation__Wrapper-knnw0g-0 jJSxyD" style="z-index: 2">
            <li class="MenuItem-sc-181aa19-0 cOJYFK">
                <a class="MenuItem__MenuLink-sc-181aa19-1 fKvTQu" href="#">
                    <span class="icon-wrap"><i class="icon-main-menu-cellphone lv1-icon tikicon"></i></span>
                    <span class="text">Điện thoại - Máy tính bảng</span>
                </a>
            </li>
            <li class="MenuItem-sc-181aa19-0 cOJYFK">
                <a class="MenuItem__MenuLink-sc-181aa19-1 fKvTQu" href="#">
                    <span class="icon-wrap"><i class="icon-main-menu-cellphone lv1-icon tikicon"></i></span>
                    <span class="text">Điện thoại - Máy tính bảng</span>
                </a>
            </li>
            <li class="MenuItem-sc-181aa19-0 cOJYFK">
                <a class="MenuItem__MenuLink-sc-181aa19-1 fKvTQu" href="#">
                    <span class="icon-wrap"><i class="icon-main-menu-cellphone lv1-icon tikicon"></i></span>
                    <span class="text">Điện thoại - Máy tính bảng</span>
                </a>
            </li>
            <li class="MenuItem-sc-181aa19-0 cOJYFK">
                <a class="MenuItem__MenuLink-sc-181aa19-1 fKvTQu" href="#">
                    <span class="icon-wrap"><i class="icon-main-menu-cellphone lv1-icon tikicon"></i></span>
                    <span class="text">Điện thoại - Máy tính bảng</span>
                </a>
            </li>
            <li class="MenuItem-sc-181aa19-0 cOJYFK">
                <a class="MenuItem__MenuLink-sc-181aa19-1 fKvTQu" href="#">
                    <span class="icon-wrap"><i class="icon-main-menu-cellphone lv1-icon tikicon"></i></span>
                    <span class="text">Điện thoại - Máy tính bảng</span>
                </a>
            </li>
            <li class="MenuItem-sc-181aa19-0 cOJYFK">
                <a class="MenuItem__MenuLink-sc-181aa19-1 fKvTQu" href="#">
                    <span class="icon-wrap"><i class="icon-main-menu-cellphone lv1-icon tikicon"></i></span>
                    <span class="text">Điện thoại - Máy tính bảng</span>
                </a>
            </li>
        </ul>
        <div class="Banners__MainGrid-sc-1yy2fzy-0 iNmJbx" wrap="true">
            <div class="Banners__MainGrid-sc-1yy2fzy-0 buXpLe">
                <div style="width: 100%;" class="Banners__MainGrid-sc-1yy2fzy-0 cFfSYr">
                    <div class="slideshow-container">
                        <div class="mySlides2">
                            <img src="img_band_chicago.jpg" style="width:100%">
                        </div>

                        <div class="mySlides2">
                            <img src="img_band_la.jpg" style="width:100%">
                        </div>

                        <div class="mySlides2">
                            <img src="img_band_ny.jpg" style="width:100%">
                        </div>

                        <a class="prev" onclick="plusSlides(-1, 1)">&#10094;</a>
                        <a class="next" onclick="plusSlides(1, 1)">&#10095;</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12-lg product-list-home">
        <div class="col-12-lg">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Sản phẩm Đồng Hồ <strong>HOT</strong></h4>
                    <div class="row">
                        <div class="col-12-lg">
                            @foreach (var i in Model.DongHoProduct)
                            {
                                <a class="link-item product-item" href="#">
                                    <div class="content">
                                        <span class="image-item">
                                            <img src="@i.PathIamge" class="img-detail img-responsive" />
                                        </span>
                                        <p class="title-item">
                                            @i.NameProduct
                                        </p>
                                        <p class="price-item">
                                            <span class="final-price">
                                                @if (i.SalePricent == 0)
                                                {
                                                    @:@i.PriceGoc ₫
                                                }
                                                @if (i.SalePricent == 100)
                                                {
                                                    @:0 ₫
                                                }
                                                @if (i.SalePricent > 0 && i.SalePricent < 100)
                                                {
                                                    var mony = i.PriceGoc - (i.PriceGoc * i.SalePricent) / 100;
                                                    @:@mony ₫
                                                }

                                                <span class="sale-tag">-@i.SalePricent%</span>
                                            </span>
                                            <span class="price-regular">@i.PriceGoc ₫</span>
                                        </p>
                                    </div>
                                    <div class="review-wrap">
                                        <p class="rating">
                                            <span class="rating-content">
                                                @for (int rt = 1; rt <= i.Rating; rt++)
                                                {
                                                    <i class="fa fa-star checked" aria-hidden="true"></i>
                                                }
                                                @if (i.Rating < 5)
                                                {
                                                    for (int j = 5; j > i.Rating; j--)
                                                    {
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                    }
                                                }

                                            </span>
                                        </p>
                                        <p class="review-count">
                                            (@i.CountComment nhận xét)
                                        </p>
                                    </div>
                                </a>
                            }
                            <div class="center" style="text-align:center;">
                                <button button" class="btn btn-outline-info">Thêm nữa</button>
                            </div>
                        </div>
                        
                        
                        
                        
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


