@{
    ViewBag.Title = "Trang chủ - Maladin.com";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}
<title>@ViewBag.Title</title>
@section Scripts{
    
}
@model Maladin.Models.ItemProductModels
<div class="row">
    <div class="header-home col-12">Đây nơi trưng bài sản phẩm</div>
    <div class="col-12-lg product-list-home">
        <div class="col-12-lg">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Sản phẩm Kính <strong>HOT</strong></h4>
                    <div class="row">
                        <div class="col-12-lg">
                            @foreach (var i in Model.KinhProduct)
                            {
                                <a class="link-item product-item" href="@Url.Action("Index", "Product", new {Area ="" })?id=@i.ID">
                                    <div class="content">
                                        <span class="image-item">
                                            <img src="@i.PathIamge" class="img-detail img-responsive" />
                                        </span>
                                        <p class="title-item">
                                            @i.NameProduct
                                        </p>
                                        <p class="price-item">
                                            <span class="final-price">
                                                @if (i.SalePricent == 0)
                                                {
                                                    @:@i.PriceGoc ₫
                                                }
                                                @if (i.SalePricent == 100)
                                                {
                                                    @:0 ₫
                                                }
                                                @if (i.SalePricent > 0 && i.SalePricent < 100)
                                                {
                                                    var mony = i.PriceGoc - (i.PriceGoc * i.SalePricent) / 100;
                                                    @:@mony ₫
                                                }

                                                <span class="sale-tag">-@i.SalePricent%</span>
                                            </span>
                                            <span class="price-regular">@i.PriceGoc ₫</span>
                                        </p>
                                    </div>
                                    <div class="review-wrap">
                                        <p class="rating">
                                            <span class="rating-content">
                                                @for (int rt = 1; rt <= i.Rating; rt++)
                                                {
                                                    <i class="fa fa-star checked" aria-hidden="true"></i>
                                                }
                                                @if (i.Rating < 5)
                                                {
                                                    for (int j = 5; j > i.Rating; j--)
                                                    {
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                    }
                                                }

                                            </span>
                                        </p>
                                        <p class="review-count">
                                            (@i.CountComment nhận xét)
                                        </p>
                                    </div>
                                </a>
                            }
                            <div class="center" style="text-align:center;">
                                <button button" class="btn btn-outline-info">Thêm nữa</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="col-12-lg product-list-home">
        <div class="col-12-lg">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Sản phẩm Đồng Hồ <strong>HOT</strong></h4>
                    <div class="row">
                        <div class="col-12-lg">
                            @foreach (var i in Model.DongHoProduct)
                            {
                                <a class="link-item product-item" href="#">
                                    <div class="content">
                                        <span class="image-item">
                                            <img src="@i.PathIamge" class="img-detail img-responsive" />
                                        </span>
                                        <p class="title-item">
                                            @i.NameProduct
                                        </p>
                                        <p class="price-item">
                                            <span class="final-price">
                                                @if (i.SalePricent == 0)
                                                {
                                                    @:@i.PriceGoc ₫
                                                }
                                                @if (i.SalePricent == 100)
                                                {
                                                    @:0 ₫
                                                }
                                                @if (i.SalePricent > 0 && i.SalePricent < 100)
                                                {
                                                    var mony = i.PriceGoc - (i.PriceGoc * i.SalePricent) / 100;
                                                    @:@mony ₫
                                                }

                                                <span class="sale-tag">-@i.SalePricent%</span>
                                            </span>
                                            <span class="price-regular">@i.PriceGoc ₫</span>
                                        </p>
                                    </div>
                                    <div class="review-wrap">
                                        <p class="rating">
                                            <span class="rating-content">
                                                @for (int rt = 1; rt <= i.Rating; rt++)
                                                {
                                                    <i class="fa fa-star checked" aria-hidden="true"></i>
                                                }
                                                @if (i.Rating < 5)
                                                {
                                                    for (int j = 5; j > i.Rating; j--)
                                                    {
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                    }
                                                }

                                            </span>
                                        </p>
                                        <p class="review-count">
                                            (@i.CountComment nhận xét)
                                        </p>
                                    </div>
                                </a>
                            }
                            <div class="center" style="text-align:center;">
                                <button button" class="btn btn-outline-info">Thêm nữa</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="col-12-lg product-list-home">
        <div class="col-12-lg">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Sản phẩm <strong>Giảm giá sock</strong></h4>
                    <div class="row">
                        <div class="col-12-lg">
                            @foreach (var i in Model.DongHoProduct)
                            {
                                <a class="link-item product-item" href="#">
                                    <div class="content">
                                        <span class="image-item">
                                            <img src="@i.PathIamge" class="img-detail img-responsive" />
                                        </span>
                                        <p class="title-item">
                                            @i.NameProduct
                                        </p>
                                        <p class="price-item">
                                            <span class="final-price">
                                                @if (i.SalePricent == 0)
                                                {
                                                    @:@i.PriceGoc ₫
                                                }
                                                @if (i.SalePricent == 100)
                                                {
                                                    @:0 ₫
                                                }
                                                @if (i.SalePricent > 0 && i.SalePricent < 100)
                                                {
                                                    var mony = i.PriceGoc - (i.PriceGoc * i.SalePricent) / 100;
                                                    @:@mony ₫
                                                }

                                                <span class="sale-tag">-@i.SalePricent%</span>
                                            </span>
                                            <span class="price-regular">@i.PriceGoc ₫</span>
                                        </p>
                                    </div>
                                    <div class="review-wrap">
                                        <p class="rating">
                                            <span class="rating-content">
                                                @for (int rt = 1; rt <= i.Rating; rt++)
                                                {
                                                    <i class="fa fa-star checked" aria-hidden="true"></i>
                                                }
                                                @if (i.Rating < 5)
                                                {
                                                    for (int j = 5; j > i.Rating; j--)
                                                    {
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                    }
                                                }

                                            </span>
                                        </p>
                                        <p class="review-count">
                                            (@i.CountComment nhận xét)
                                        </p>
                                    </div>
                                </a>
                            }
                            <div class="center" style="text-align:center;">
                                <button button" class="btn btn-outline-info">Thêm nữa</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


