@{

    Layout = "~/Areas/Partner/Views/Shared/_layout_partner.cshtml";
}
@model Maladin.Areas.Partner.Models.ProductModels
@section Scripts{

    <script>
        // giá tri khi mới vào: add event phân trang
        var page = @Model.page;
        var pageSize = @Model.pageSize;
        var maxPage = @Model.maxPage;
        //var pageSizeNext = $('select[name=chooseSizePage] option').filter(':selected').val();
        // hết khai báo biến
        $("#selectPageSize").val(String(pageSize)).change();
        if (page <1)
        {

        }
        else if (page == 1) {
            $("#next").attr("href", "@Url.Action("Index", "Product")?page=" + String(page + 1) + "&pageSize=" + pageSize)

        }
        else if (page == 2) {
            $("#btnPage2").addClass("active");
            $("#btnPage1").removeClass("active");
            $("#prviewc").removeClass("disabled");
            $("#next").attr("href", "@Url.Action("Index", "Product")?page=" + String(page + 1) + "&pageSize=" + pageSize)
            $("#prview").attr("href", "@Url.Action("Index", "Product")?page=" + String(page - 1) + "&pageSize=" + pageSize)
        }
        else {
            $("#btnPage2").addClass("active");
            $("#btnPage1").removeClass("active");
            $("#num1").text(String(page - 1));
            $("#num2").text(String(page));
            if (page >= maxPage) {
                $("#prviewc").removeClass("disabled");
                $("#num3").text(String(page + 1));
                $("#btnPage2").addClass("active");
                $("#next").removeAttr("href");
                $("#btnNext").addClass("disabled");
                $("#btnPage3").addClass("disabled");
                $("#next").attr("aria-disabled", 'true');
                $("#prview").attr("href", "@Url.Action("Index", "Product")?page=" + String(page - 1) + "&pageSize=" + pageSize)
            }
            else {
                $("#prviewc").removeClass("disabled");
                $("#num3").text(String(page + 1));
                $("#next").attr("href", "@Url.Action("Index", "Product")?page=" + String(page + 1) + "&pageSize=" + pageSize)
                $("#prview").attr("href", "@Url.Action("Index", "Product")?page=" + String(page - 1) + "&pageSize=" + pageSize)
            }
        }
        // add link
        var pageNext = parseInt($("#num1").text());

        $("#num1").attr("href", "@Url.Action("Index", "Product")?page=" + pageNext + "&pageSize=" + pageSize)
        $("#num2").attr("href", "@Url.Action("Index", "Product")?page=" + String(pageNext + 1) + "&pageSize=" + pageSize)
        $("#num3").attr("href", "@Url.Action("Index", "Product")?page=" + String(pageNext + 2) + "&pageSize=" + pageSize)
        // remove link href:
        if (page >= 2) {
            $("#num2").removeAttr("href");
        }

        if (maxPage == 1) {
            $("#num2").removeAttr("href");
            $("#num3").removeAttr("href");
            $("#btnNext").addClass("disabled");
        }
        else if (maxPage == 2) {
            $("#num3").removeAttr("href");
            $("#next").removeAttr("href");
            $("#btnNext").addClass("disabled");
        }
        // add event click
        $('#btn-search-product').click(function () {
            console.log("text:", $('#input-search-product').val());
            window.location = '@Url.Action("Index","Product")?page=' + page + '&pageSize=' + pageSize + '&q=' + $('#input-search-product').val();
        });


    </script>
    <script>
        $('#btn-add-product').click(function () {
            window.location = '@Url.Action("Add","Product")';

            });

        $(document).ready(function () {

            // code to read selected table row cell data (values).
            $("#recent-purchases-listing").on('click', '.delete-btn', function () {
                // get the current row
                var currentRow = $(this).closest("tr");

                var col1 = currentRow.find("td:eq(0)").text(); // get current row 1st TD value
                console.log(col1);
                $('#content-modal').text("Bạn có muốn hủy kích hoạt cho sản phẩm có id:" + col1.toString());
                $('.btn-model-confirm').click(function () {
                    $.ajax({
                        type: "POST",
                        url: 'Product/Delete?id=' + col1,
                        dataType: "json",
                        cache: false,
                        success: function () {
                            $('#modalDelete').modal('hide');
                            alert('Success');
                            window.location.reload();

                        },
                        error: function () { alert('fail'); }
                    });
                });
            });
            $('').append($('<li>').text());


        });


    </script>
    <script>
        // add event selected
        $('#selectPageSize').change(function() {
            window.location = $(':selected', this).attr('href');
        });
        


    </script>


}
<div>
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Danh Sách Các Sản Phẩn Của User</h4>
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-6"><label for="exampleFormControlSelect3">Tùy Chọn hiển thị:</label></div>
                        <div class="col-md-6">
                            <select class="form-control" name="chooseSizePage" id="selectPageSize">
                                <option href='@Url.Action("Index", "Product", new {page = 1, pageSize =8 })'>8</option>
                                <option href='@Url.Action("Index", "Product", new {page = 1, pageSize =16 })'>16</option>
                                <option href='@Url.Action("Index", "Product", new {page = 1, pageSize =24 })'>24</option>

                            </select>
                        </div>
                    </div>



                </div>
                <div class="col-md-6">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="search">
                                <i class="mdi mdi-magnify"></i>
                            </span>
                        </div>
                        <input type="text" class="form-control" placeholder="Search now" aria-label="search" aria-describedby="search" id="input-search-product">
                        <button type="button" class="btn btn-inverse-info btn-icon" id="btn-search-product">
                            <i class="mdi mdi-account-search"></i>
                        </button>
                        <button type="button" class="btn btn-inverse-info btn-icon" id="btn-add-product">
                            <i class="mdi mdi-account-plus"></i>
                        </button>
                    </div>
                </div>
            </div>
            <hr />
            <div class="table-responsive">
                <table class="table table-hover" id="recent-purchases-listing">
                    <thead>
                        <tr>
                            <th class="id-product">ID</th>
                            <th>Tên sản phẩm</th>
                            <th>Mã công ty</th>
                            <th>Mã loại sản phẩm</th>
                            <th>Xuất xứ</th>
                            <th>Giá sản phẩm</th>
                            <th>Đánh giá</th>
                            <th>Ngày được thêm</th>
                            <th>Người phê duyệt sản phẩm</th>
                            <th>Trạng thái</th>

                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model.PRODUCT)
                        {

                            <tr>
                                <td>@item.ID_PRODUCT</td>
                                <td>@item.NAME_PRODUCT</td>
                                <td>@item.ID_PRODUCER</td>
                                <td>@item.ID_TYPE_PRODUCT</td>
                                <td>@item.ID_ORIGIN</td>
                                <td>@item.PRICE_PRODUCT</td>
                                <td>@item.RATING_PRODUCT</td>
                                <td>@item.DATE_PRODUCT</td>
                                <td>@item.USER_ACC</td>
                                @if (@item.IS_SELL)
                                {
                                    <td><label class="badge badge-success">Active</label></td>

                                }
                                else
                                {
                                    <td><label class="badge badge-danger">No Active</label></td>
                                }
                                <td>
                                    <button type="button" class="btn btn-outline-secondary btn-rounded btn-icon edit-btn">
                                        <i class="mdi mdi mdi-tooltip-edit"></i>
                                    </button>

                                </td>
                                <td>
                                    <button type="button" class="btn btn-outline-secondary btn-rounded btn-icon delete-btn" data-target="#modalDelete" data-toggle="modal">
                                        <i class="mdi mdi mdi-delete-sweep"></i>
                                    </button>
                                    <!-- Modal -->
                                    <div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Thông báo xóa</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body" id="content-modal">

                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary " data-dismiss="modal">Close</button>
                                                    <button type="button" class="btn btn-primary btn-model-confirm">Save changes</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>

                            </tr>

                        }

                    </tbody>
                </table>
            </div>

        </div>
        <hr />
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item disabled" id="prviewc">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true" id="prview" disabled>Previous</a>
                </li>
                <li class="page-item active" id="btnPage1"><a class="page-link" href="#" id="num1">1</a></li>
                <li class="page-item" id="btnPage2"><a class="page-link" href="#" id="num2">2</a></li>
                <li class="page-item" id="btnPage3"><a class="page-link" href="#" id="num3">3</a></li>
                <li class="page-item" id="btnNext">
                    <a class="page-link" href="#" id="next">Next</a>
                </li>
            </ul>
        </nav>
    </div>

</div>