@model List<Maladin.Models.FavoriteModel>
@{
    ViewBag.Title = "Favourite";
    Layout = "~/Views/Shared/_Layout_profile_account.cshtml";
}
@section Scripts {
    <script>
        $(document).ready(function () {
            checkNullValue();
        });

        function removeEmelent(i) {
            var r = confirm("Bạn có thực sự muốn xóa?");
            if (r == true) {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("DeleteFavorite", "Account", new {Area="Customer" })?id=' +i,
                        async: false,
                        dataType: "json",
                        contentType: "application/json",
                        jsonpCallback: 'callback',
                        cache: false,
                        success: function (json) {
                            console.log(json.status);
                            if (json.res) {
                                window.location.reload();
                            }
                            else { 
                                
                            }
                            },
                        error: function ()
                        { alert('Lỗi server!'); }
                        });
                   //luu vao DB xoa di phan tu yeu thich sau do load lai trang
            } else {

            }
        }

        function checkNullValue() {
            if ($("#haveWishList:has(*)").length) {
                $("#noWishList").hide();
            } else {
                $("#noWishList").show();
            }
        }
    </script>
}
<h1 class="have-margin">Danh sách yêu thích</h1>
<!--start div if have wishlist-->
<div class="account-wish-list list-item" id="haveWishList">
    <form id="wishlist" method="post">
        @foreach (var i in Model)
        {
            <div class="item wishlist-item" >
                <div class="item-col-1">
                    <p class="image">
                        <a href="@Url.Action("Index","Product", new {id=i.ID })">
                            <img class="img-responsive" src="@i.PathIamge" style="width: 125px; height: 125px" />
                        </a>
                    </p>
                </div>
                <div class="item-col-2">
                    <div class="information">
                        <p class="title">
                            <a href="@Url.Action("Index","Product", new {id=i.ID })">
                                @i.NameProduct
                            </a>
                        </p>
                        <div class="desciption">
                            @if (i.ContentP.Length > 200)
                            {
                                <p>@i.ContentP.Substring(0, 200)</p>
                            }
                            else
                            {
                                <p>@i.ContentP</p>
                            }
                        </div>
                    </div>
                </div>
                <div class="item-col-3">
                    <p class="price-sale">
                        @Convert.ToString(i.PriceGoc - i.PriceGoc * i.SalePricent / 100) đ
                        <br />
                        <span>@i.PriceGoc đ</span>
                        <span class="sale-tag">
                            -@i.SalePricent %
                        </span>
                    </p>
                    <button class="btn btn-default btn-custom1 delete-wishlist-item" type="button" onclick="removeEmelent('@i.ID')">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        }
    </form>
</div>
<!--end div if have wishlist-->
<!--start div if not have wishlist-->
<div class="empty-content" id="noWishList">
    <img src="~/assets/image/Baymax-NoContent.png" alt="" style="height: 230px;" />
    <p>Hãy <i class="fa fa-heart" aria-hidden="true"></i> sản phẩm bạn yêu thích để xem lại thuận tiện nhất</p>
    <a href="@Url.Action("Index", "Home")" class="btn-blue">Tiếp tục mua sắm</a>
</div>
<!--end div if not have wishlist-->
