
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Partner/Views/Shared/_layout_partner.cshtml";
}
@model Maladin.Areas.Partner.Models.OderModels
@section Scripts{
    <script></script>

}
<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Danh sách đơn hàng</h4>
                <p class="card-description">
                    <div class="row">
                        <div class="col-lg-9 grid-margin stretch-card">
                            Lưu ý:
                            <p style="color:red;">Những đơn hàng đã hoàn thành không được hiện thị, tùy chọn hiển thị để hiện thị tất cả</p>
                            <a href="@Url.Action("ChitietHD", "Oder", new { area = "Partner"})">
                                <button type="button" class="btn btn-info btn-rounded btn-fw">Chi tiết hóa đơn</button>
                            </a>
                        </div>
                        <div class="col-lg-3 grid-margin stretch-card">
                            <strong style="color:orange">Tùy chọn hiển thị</strong>
                            <select class="form-control" id="selectHienThi">
                                <option>Chưa hoàn thành</option>
                                <option>Đã hủy</option>
                                <option>Hoàn thành</option>
                                <option>Tất cả</option>


                            </select>
                        </div>
                    </div>
                    
                    
                    
                </p>
                <div class="table-responsive pt-3">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>ID Đơn </th>
                                <th>Mã lô hàng</th>
                                <th>Tên sản phẩm</th>
                                <th>Số lượng</th>
                                <th>Loai hình thanh toán</th>
                                <th>Ngày đặt</th>
                                <th>Tổng tiền</th>
                                <th>Trạng thái</th>
                                <th>Hành động</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var i in Model.oders)
                            {
                            <tr>
                                <td>@i.id</td>
                                <td>@i.idAccProduct</td>
                                <td>@i.name</td>
                                <td>@i.countOder</td>
                                <td>@i.typeOder</td>
                                <td>@i.dateOder</td>
                                <td>@i.sumPrice</td>
                                <td>
                                    @if (i.st == 0)
                                    {
                                        <label class="badge badge-warning">Đã đặt</label>
                                    }
                                    @if (i.st == 1)
                                    {
                                        <label class="badge badge-primary">Đang giao hàng</label>
                                    }
                                    @if (i.st == 2)
                                    {
                                        <label class="badge badge-info">Đã chuyển giao</label>
                                    }
                                    @if (i.st == 3)
                                    {
                                        <label class="badge badge-success">Hoàn thành</label>
                                    }
                                </td>
                                <td>
                                    <button type="button" class="btn btn-inverse-info btn-icon">
                                        <i class="mdi mdi-call-made"></i>
                                    </button>
                                    <button type="button" class="btn btn-inverse-info btn-icon">
                                        <i class="mdi mdi-playlist-remove"></i>
                                    </button>

                                </td>
                            </tr>
                        }







                            </tbody>
                        </table>
                    </div>
                    <hr />
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center">
                            <li class="page-item disabled" id="prviewc">
                                <a class="page-link" href="#" tabindex="-1" aria-disabled="true" id="prview" disabled>Previous</a>
                            </li>
                            <li class="page-item active" id="btnPage1"><a class="page-link" href="#" id="num1">1</a></li>
                            <li class="page-item" id="btnPage2"><a class="page-link" href="#" id="num2">2</a></li>
                            <li class="page-item" id="btnPage3"><a class="page-link" href="#" id="num3">3</a></li>
                            <li class="page-item" id="btnNext">
                                <a class="page-link" href="#" id="next">Next</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
